.frontview{
    background-color: white;
    height: 22cm;
    margin-left:4cm;
    margin-right:4cm;
    margin-top: -3cm;
    border-radius: 5cm;
}

.prfileimg{
    border-radius: 50%;
    width: 1.2cm;
}

.statusview{
    margin-left:4cm;
    margin-right:4cm;
    height: 20cm;
}

.contact-view{
    height: 640px;
    overflow-y: scroll;
}

.message-view{
    height: 680px;
    overflow-y: scroll;
}

.profile-photo-large{
    width: 6cm;
    margin: auto;
}

.button-center{
    text-align: center;  
}

